.ask-expert > .header {
	display: flex;
	justify-content: space-between;
	position: relative;
	color: #2E3148;
	border-bottom: 1px solid #EEE;
	background-color: #FFF;

	&::after {
		display: none;
		content: "";
		width: 10px;
		height: 100%;
		position: absolute;
		top: 0;
		right: .8rem;
		box-shadow: 0 0 15px rgba(0, 0, 0, .2);
	}

	& div {
		flex: 1;
		width: calc(100vw - 1rem);
		overflow: auto;
		position: relative;
		font-size: 0;
	}

	& div::-webkit-scrollbar {
		display: none;
	}

	& ul {
		transition: transform .3s;
	}

	& li {
		display: inline-block;
		margin-left: .28rem;
		line-height: .8rem;
		font-size: .3rem;
	}

	& .filter-btn {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 1rem;
		height: .8rem;
		box-shadow: -3px 0 8px -2px rgba(0, 0, 0, .3);

		& svg {
			width: .3rem;
			height: .3rem;
		}
	}
}



.ask-expert-item {
	padding: .3rem .24rem .26rem;
	margin-bottom: .24rem;
	background-color: #FFF;
}
.no-avatar {
	width: .48rem;
	height: .48rem;
	margin-right: .12rem;
}
.ask-expert-item:last-child {
	margin-bottom: 0;
}

.img-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	& .lazy-wrapper {
		margin-bottom: .24rem;
	}

	& .lazy-img {
		width: 2.2rem;
		height: 2.2rem;
	}
}

.img-list.supplement::after {
	content: "";
	width: 2.2rem;
	height: 2.2rem;
}

.img-div {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 2.2rem;
	height: 2.2rem;
	margin-bottom: .2rem;
	overflow: hidden;

	& img {
		height: 100%;
	}

	& img.horizontal {
		width: 100%;
		height: auto;
	}
}

.img-list-one {
	width: 100%;
	margin-bottom: .24rem;
}

.img-list-one.horizontal {
	width: 4rem;
}

.ask-expert-panel {
	display: block;
	color: inherit;

	& h3 {
		margin-bottom: .25rem;
		color: #333;
		font-size: .36rem;
	}
}

.delete-ask {
	color: #6A96DD;
}

.ask-expert-reply {
	padding: .12rem;
	padding-bottom: .24rem;
	margin: .3rem .12rem 0;
	position: relative;
	border-radius: 8px;
	background-color: #FAF9F9;

	&::after {
		content: "";
		position: absolute;
		top: -.12rem;
		right: .6rem;
		border-right: .36rem solid transparent;
		border-bottom: .24rem solid #FAF9F9;
		border-left: .36rem solid transparent;
	}

	& > p {
		color: #666;
		font-size: .28rem;
		line-height: .45rem;
	}

	& .reply-expert-name {
		display: block;
		margin: 0 0 .12rem 0;
		color: #608FDB;
	}
}
.reply-header {
	display: flex;
	align-items: center;
	margin-bottom: .2rem;
	color: #666;
	font-size: .24rem;

	& img {
		width: .8rem;
		height: .8rem;
		margin-right: .2rem;
		border-radius: 50%;
	}

	& p span {
		padding-left: .3rem;
		position: relative;
	}

	& .location {
		margin-left: .25rem;
	}

	& p svg {
		width: .25rem;
		height: .25rem;
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
	}
}
.reply-expert-info {
	flex: 1;

	& span {
		margin-right: .2rem;
	}
}

.ask-content {
	margin-bottom: .28rem;
	color: #666;
	font-size: .3rem;
	line-height: .5rem;
	word-break: break-word;
}
.ask-expert-header {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	color: #666;
	font-size: .24rem;
	margin-bottom: .2rem;

	& img {
		width: .48rem;
		height: .48rem;
		margin-right: .12rem;
	}

	& .tag {
		padding: 0 .15rem;
		margin-left: .12rem;
		color: #608FDB;
		border-radius: 10px;
		line-height: .4rem;
		border: 1px solid #608FDB;
	}
}
.ask-expert-footer {
	color: #999;
	font-size: .22rem;
	position: relative;

	& span {
		margin-right: .4rem;
	}

	& .comment {
		padding-left: .5rem;
		margin-right: 0;
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);

		& svg {
			width: .4rem;
			height: .4rem;
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
		}
	}
}

.quiz-btn, .add-btn {
	width: 1rem;
	height: 1rem;
	position: fixed;
	bottom: 1.5rem;
	right: .4rem;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
	border-radius: 50%;
	background-color: #3C3850;

	& svg {
		width: .55rem;
		height: .55rem;
	}
}
.quiz-btn {
	display: flex;
	justify-content: center;
	align-items: center;
}







.quiz-panel {
	padding: .24rem;
    margin-bottom: .24rem;
    color: #333;
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
    background-color: #FFF;

    & .tag {
    	padding: 0 .15rem;
	    margin-left: .12rem;
	    color: #608FDB;
	    border-radius: 10px;
	    line-height: .4rem;
	    border: 1px solid #608FDB;
    }

    & a {
    	display: block;
    	color: inherit;
    }
}
.quiz-panel:last-child {
	margin-bottom: 0;
	border-bottom: none;
}
/* .quiz-panel:hover {
	background-color: #EEE;
} */
.quiz-panel-header {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: .24rem;
	font-size: .24rem;

	& .lazy-wrapper {
		margin-right: .24rem;
    }

    & .lazy-img {
    	width: .48rem;
		height: .48rem;
		border-radius: 50%;
    }
}
.quiz-panel-title {
	margin-bottom: .24rem;
	font-size: .36rem;
}

.quiz-panel-content {
	margin-bottom: .24rem;
	color: #666;
	font-size: .3rem;
	line-height: .5rem;
	word-wrap: break-word;
}
.lazy-wrapper.one {
	margin-bottom: .24rem;
}
.quiz-panel-footer {
	color: #999;
	font-size: .22rem;
	position: relative;

	& span {
		margin-right: .3rem;
	}

	& span:last-child {
		margin-right: 0;
	}
}
.delete-quiz {
	color: #6A96DD;
}
.comment-icon {
	display: flex;
	align-items: center;
	position: absolute;
	top: 50%;
	right: 0;
	color: #666;
	font-size: .24rem;
	transform: translateY(-50%);

	& svg {
    	width: .4rem;
    	height: .4rem;
    	margin-right: .12rem;
    }
}