.discover {
	padding-top: .88rem;
	padding-bottom: 1rem;
}

.discover .common-header .title {
	position: relative;
	font-size: .36rem;
	line-height: .58rem;

	&::before {
		bottom: -.25rem;
		left: 50%;
		transform: translateX(-50%) rotate(-45deg);
	}

	& svg {
		width: .3rem;
		height: .18rem;
	}
}

.discover .content {
	top: .88rem;

	& li {
		padding-left: 0;
		text-align: center;
	}
}


.add-btn::before, .add-btn::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 6px;
	background-color: #FFF;
	transform: translate(-50%, -50%);
}

.add-btn::before {
	width: 50%;
	height: 2px;
}

.add-btn::after {
	width: 2px;
	height: 50%;
}
