.login {
	min-height: 100vh;
	padding:  1.5rem .4rem 0;
	position: relative;
	box-sizing: border-box;
	text-align: center;
	background-color: #FFF;

	& .back {
		position: absolute;
		top: .6rem;
		left: .2rem;
	}

	& .logo {
		display: inline-block;
		margin: 0 auto 1rem;

		& img {
			width: 1.8rem;
			height: 1.8rem;
		}
	}
}

.login-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: .1rem;
	margin-bottom: .4rem;
	border-bottom: 1px solid #EEE;

	& svg {
		width: .4rem;
		height: .4rem;
		margin-right: .2rem;
	}

	& label {
		flex: 1;
		position: relative;
		color: #CCC;
		font-size: .3rem;

		&::after {
			content: attr(data-tips);
			position: absolute;
			top: 50%;
			left: 0;
			transition: transform .2s;
			transform: translateY(-50%);
			transform-origin: left center;
		}
	}

	& label.phone-actived::after {
		transform: translateY(-150%) scale(.7);
	}

	& input {
		width: 100%;
		line-height: .5rem;
		border: none;
	}
}

.forget-password {
	display: block;
	color: #999;
	text-align: right;
	font-size: .28rem;
}

.login-btn {
	margin-top: .3rem;
	opacity: .5;
	color: #FFF;
	font-size: .3rem;
	text-align: center;
	line-height: .72rem;
	border-radius: 6px;
	background-color: #33CCCC;
}
.login-btn.actived {
	opacity: 1;
}
.register-btn {
	display: block;
	margin-top: .3rem;
	color: #999;
	font-size: .3rem;
	text-align: center;
	line-height: .72rem;
	border-radius: 6px;
	border: 1px solid #EEE;

	& span {
		color: #33CCCC;
		font-size: .28rem;
	}
}